.red {
   color: red;
   font-weight: bold;
}

.blue {
   color: blue;
   font-weight: bold;
}

.lime {
   color: lime;
   font-weight: bold;
}

.teal {
   color: teal;
   font-weight: bold;
}

.black {
   color: black;
   font-weight: bold;
}

